h1 {
  color: white;
  background-color: #3b5998;
  padding: 25px;
}

li {
  display: inline;
}

button {
  display: block;
  padding: 100px;
  font-size: 50px;
}

.friends {
  height: 100px;
  width: 100px;
  display: block;
  float: right;
}

.zach {
  height: 500px;
  width: 500px;
  float: left;
}

.zachtwo {
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 10px;
}

h2 {
  text-align: right;
}

.notification {
  font-size: 50px;
}

a {
  text-decoration: none;
}
